@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 1200px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: #E1E5F2;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 300px;
    margin: 10px;
}

#nawigationBar{
    text-align: right;
    margin-right: 20px;
    height: 44px;
}

#nawigationBar>li {
    display: inline-block;
}

.menuItem{
    font-size: 18px;
    color: #0d6efd;
    text-decoration: none;
    padding: 10px;
}

.menuItem:hover {
    color: #FFF;
    background-color:#0d6efd;
}

#hederSection {
    text-align: center;
    padding: 20px;
}

#paragrafSection {
    text-align: justify;
    padding-bottom: 10px;
}

#buttonSection {
    display: inline;
    margin: 10 auto;
    font-size: 18px;
    color: #0d6efd;
    text-decoration: none;
    padding: 10px;
}

#buttonSection:hover {
    color: #FFF;
    background-color:#0d6efd;
}

#logoFooter {
    width: 150px;
    opacity: 0.5;
}

.footerElement {
    display: inline-block;
    margin: 10px;
}

#footerID {
    position: relative;
    margin-top: 20px;
    padding: 0px 10px 10px 10px;
    font-weight: 300;
    font-size: 14px;
    color: white;
    background-color: #004070;
}

#kontakt {
    position: absolute;
    right: 0px;
}

#footerKontakt {
    display: inline-block;
    font-size: 12px;
    margin: 10px 20px;
}

#footerHeder {
    margin: 0px 20px;
    font-size: 13px;
}

#footerLow {
    font-size: 12px;
    padding-top: 5px;
}