@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 1200px;
    background-color: #E1E5F2;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 300px;
    margin: 10px;
}

#nawigationBar{

    text-align: right;
    margin-right: 20px;
    height: 44px;
}

#nawigationBar>li {
    display: inline-block;
}

.menuItem{
    font-size: 18px;
    font-weight: 300px;
    color: #0d6efd;
    text-decoration: none;
    padding: 10px;
}

.menuItem:hover {
    color: #FFF;
    background-color:#0d6efd;
}

#logoFooter {
    width: 150px;
    opacity: 0.7;
}

#hederSection {
    text-align: center;
    padding: 20px;
}

#paragrafSection {
    text-align: justify;
}

footer {
    padding-top: 20px;
}