@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

#logo {
    width: 350px;
}

#nawigationBar{
    background-color: #BFDBF7;
    text-align: right;
    margin-right: 50px;
}
.menuItem{
    display: inline-block;
    font-size: 18px;
    color: black;
}

#logoFooter {
    width: 150px;
    opacity: 0.5;
}